body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#banner img {
  width: 100%;
  max-width: 900px;
  height: auto;
}

#qrcode {
  margin-top: -8px;
}

#qrcode p {
  font-size: 1rem;
}

#qrcode img {
  width: 14.5rem;
  height: auto;
}

main {
  display: flex;
  column-gap: 2rem;
}

#program {
  /* width: 55%; */
  width: 100%;
}

#program > div {
  overflow-y: auto;
  height: calc(100vh - 330px);
}

#program iframe {
  border: none;
}

#feed {
  width: 45%;
  overflow-y: scroll;
}

.primary {
  color: #4700ff;
}

h1 {
  font-size: 3rem;
  margin: 0 0 1rem;
}

p {
  font-size: 1.5rem;
  margin: 0;
}
